<app-header></app-header>
<div class="content">
  <table class="table">
    <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Status</th>
      <th scope="col">Date</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td> Task 1</td>
      <td> Completed</td>
      <td> 2012/05/09</td>
    </tr>
    <tr>
      <td> Task 1</td>
      <td> Completed</td>
      <td> 2012/05/09</td>
    </tr>
    <tr>
      <td> Task 1</td>
      <td> Completed</td>
      <td> 2012/05/09</td>
    </tr>
    </tbody>
  </table>
</div>
